{include file='header.html'}
<h1>Bienvenidos a FerreWeb</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore fugit quaerat nostrum corporis tempora deserunt saepe accusantium voluptate? Ipsam iusto blanditiis beatae quod. A, ratione natus, dolorem enim quae reprehenderit.</p>

<h2>Quiénes Somos</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore fugit quaerat nostrum corporis tempora deserunt saepe accusantium voluptate? Ipsam iusto blanditiis beatae quod. A, ratione natus, dolorem enim quae reprehenderit.</p>
{include file='footer.html'}