{include file='header.html'}
<h1>Marcas Disponibles</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et illum perspiciatis delectus, odit atque nulla, impedit, dolor voluptates, aliquam beatae tempora ad blanditiis ipsam culpa eaque laborum accusamus iure.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum blanditiis repellat dolorem, repudiandae pariatur quod nam ex laudantium in ratione accusantium iusto aliquam nobis ipsam ipsum illum, praesentium? Eaque, deserunt?</p>
<p>{$marcas}</p>
{include file='footer.html'}